.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}
.chatContent {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  flex: 1;
  overflow-y: scroll;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.comment {
  margin: 0 10px 20px 10px;
}